{% load static %}
<header>
    <button id="bouton-menu-nav" onClick={ouvrirFermerMenuNav}>
        <div>
            <div id="bar-nav-1"></div>
            <div id="bar-nav-2"></div>
            <div id="bar-nav-3"></div>
        </div>
    </button>
    <h1><a href="#"><img src="{% static 'arbre_genealogique/images/icone.png' %}" /> Loric Genealogy</a></h1>
    <div>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'compte:logout' %}">{% csrf_token %}<button type="submit">Se déconnecter</button></form>
        {% else %}
            <a href="{% url 'compte:login' %}"><button>Se connecter</button></a>
        {% endif %}
    </div>
</header>