{% extends "base.html" %}
{% load static %}

{% block content %}
    <form class="membre-details">
        <div>
            <label for="photo">Photo :</label>
        </div>
        <h1>{{details_membre.prenom}} {{details_membre.nom_famille}}</h1>
        <div>
            <label for="prenom">Prénom principale :</label>
            <input type="text" value="{{details_membre.prenom}}"/>
        </div>
        <div>
            <label for="liste_prenoms">Liste des prénoms :</label>
            <input type="text" disabled value="{{details_membre.liste_prenoms}}"/>
        </div>
        <div>
            <label for="nom_famille">Nom de famille :</label>
            <input type="text" disabled value="{{details_membre.prenom}}"/>
        </div>
        <div>
            <label for="genre">Genre :</label>
        </div>
        <div>
            <label for="date_naissance">Date de naissance :</label>
        </div>
        <div>
            <label for="date_mort">Date de décès :</label>
        </div>
        <div>
            <label for="pere">Père :</label>
            <input type="text" disabled value="{{details_membre.pere}}"/>
        </div>
        <div>
            <label for="mere">Mère :</label>
            <input type="text" disabled value="{{details_membre.mere}}"/>
        </div>
        <div>
            <label for="couple">En couple avec :</label>
            <input type="text" disabled value="{{details_membre.couple}}"/>
        </div>
        <div>
            <label for="enfants">Enfants :</label>
            <input type="text" disabled value="{{details_membre.enfants}}"/>
        </div>
        <div>
            <label for="numero_telephone">Numéro de téléphone :</label>
        </div>
        <div>
            <label for="adresse_mail">Adresse mail :</label>
        </div>
        <div>
            <label for="adresse">Adresse :</label>
        </div>
    </form>
{% endblock %}
