{% extends "base_connecte.html" %}
{% load static %}
{% csrf_token %}

{% block title %}Loric Genealogy - Mon compte{% endblock %}
{% block style %}<link rel="stylesheet" href ="{% static 'styles/comptes.css' %}"/>{% endblock %}

{% block content_connecte %}
    <section class="mon-compte">
        <form method="post" class="form-lecture form-mon-compte" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Mon compte</h1>
            {% if succes %}
                <p class="successlist">
                    {% for message in succes %}
                        <span>{{message}}</span>
                    {% endfor %}
                </p>
            {% endif %}
            {% if erreur %}
                <p class="errorlist">
                    {% for message in erreur %}
                        <span>{{message}}</span>
                    {% endfor %}
                </p>
            {% endif %}
            <p>Toutes les infos sur vous et votre compte sont réunies ici.</p>
            <div class="actions-compte">
                <a class="bouton lecture" onclick="document.querySelector('.mon-compte > form').classList.toggle('form-lecture')">Modifier</a>
                <a class="bouton modification" onclick="document.querySelector('.mon-compte > form').classList.toggle('form-lecture')">Annuler</a>
                <button class="bouton modification" onclick="">Enregistrer</button>
            </div>
            <h2>Mes identifiants de connexion</h2>
            <p>
                <label>Nom d'utilisateur :</label>
                <span class="lecture">{{user.username}}</span>
                <input class="modification" name="username" type="text" value="{{user.username}}"/>
            </p>
            <p>
                <label>Mot de passe :</label>
                <p class="lecture"><a class="bouton" href="{% url 'compte:password_change' %}">Modifier le mot de passe</a></p>
                <span class="modification">Enregistrez ou annulez vos modifications avant de modifier le mot de passe.</span>
            </p>
            <h2>Mes informations personnelles</h2>
            <p>Vous avez la main sur vos informations personnelles. Les données ne sont destinées uniquement pour l'arbre généalogique. Vous pouvez choisir de supprimer vos informations visibles par les autres membres de la famille, mais gardez toujours au minimum votre nom et votre prénom de préférence.</p>
            {% if membre_connecte %}
                <div class="modification-photo-compte">
                    <div class="icone-compte">
                        {% if membre_connecte.photo is not None %}
                            <img src="data:image/jpeg;base64,{{membre_connecte.photo}}" class="photo"/>
                        {% else %}
                            {{membre_connecte.initiales}}
                        {% endif %}
                    </div>
                    <div class="actions-icone-compte">
                        <span class="lecture"><a class="bouton bouton-changer-photo">Changer la photo</a></span>
                        <span class="lecture"><a class="bouton bouton-supprimer-photo">Supprimer la photo</a></span>
                        
                    </div>
                </div>
            {% else %}
                <p>
                    Une erreur est survenue. Veuillez recharger la page.
                    Si le problème persiste, veuillez contacter l'administrateur
                    en lui fournissant ce code erreur : MEMBRE_NOT_FOUND
                </p>
            {% endif %}
        </form>
    </section>
    <span class="popup-modifier-image" style="display: none;">{% include "mon_compte/changer_photo_profil.html" %}</span>
    <script>
        document.querySelector(".mon-compte .bouton-changer-photo").addEventListener("click", function() {
            document.querySelector(".popup-modifier-image").style.display = "block";
        })
        document.querySelector(".popup-modifier-image .bouton-fermer").addEventListener("click", function() {
            document.querySelector(".popup-modifier-image").style.display = "none";
        })
        document.querySelector(".mon-compte .bouton-supprimer-photo").addEventListener("click", function() {
            if(confirm("Êtes-vous sûr de vouloir supprimer la photo ?") == true) {
                supprimerPhoto();
            }
        })
    </script>
{% endblock %}
