{% extends "base.html" %}
{% load static %}

{% block title %}Loric Genealogy - Connexion{% endblock %}
{% block style %}<link rel="stylesheet" href ="{% static 'styles/comptes.css' %}"/>{% endblock %}

{% block content %}
    <div class="connexion">
        {% if user.is_authenticated %}
            <section>
                <p>Vous êtes déjà connecté en tant que <strong> {{ user.username }}</strong></p>
                <a class="bouton" href="/" >Accueil</a>
            </section>
        {% else %}
            <section>
                <h1>Connexion</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <label for="identifiant">Identifiant</label>
                    <input type="text" name="identifiant" required>
                    <label for="mot-de-passe">Mot de passe</label>
                    <input type="password" name="mot-de-passe" required> -->
                    <button class="bouton" type="submit">Se connecter</button>
                </form>
                <br/>
                <br/>
                <h2>Vous êtes de la famille et vous n'avez pas de compte ?</h2>
                <br/>
                <a href="{% url 'compte:register' %}" class="bouton">S'inscrire</a>
            </section>
        {% endif %}
    </div>
{% endblock %}