html,
body {
    font-family: Poppins, Calibri, Arial, sans-serif;

    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;

    --couleur-principale: #503AC0;
    --couleur-secondaire: #322377;
    --couleur-tertiaire: #a998ff;
    --couleur-quaternaire: #e9e5ff;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/arbre_genealogique/polices/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url("/static/arbre_genealogique/polices/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: url("/static/arbre_genealogique/polices/Poppins/Poppins-Bold.ttf");
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(100, 100, 100, 0.5);
}

.popup h1 {
    cursor: default;
}

.popup .fenetre-popup {
    max-width: 90%;
    max-height: 90%;
    margin: 3%;
    box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.5), -8px -8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    background-color: rgb(245, 245, 255);
}

.popup .fenetre-popup .popup-en-tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 0;
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    width: 50px;
    height: 50px;
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer :hover {
    background-color: rgba(200, 200, 230, 0.5);
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer :focus {
    background-color: rgba(150, 150, 200, 0.5);
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer .barre-croix-1,
.popup .fenetre-popup .popup-en-tete .bouton-fermer .barre-croix-2 {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer .barre-croix-1 {
    transform-origin: center;
    transform: translate(0, 13px) rotate(-45deg);
}

.popup .fenetre-popup .popup-en-tete .bouton-fermer .barre-croix-2 {
    transform-origin: center;
    transform: translate(0, -12px) rotate(45deg);
}

.popup .fenetre-popup .contenu-fenetre {
    height: 50vh !important;
    overflow-y: scroll;
    margin: 10px;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
}
